@import "../../../../index.scss";
.wraper {
  border-top: 10px solid #af4448 !important;
  border: 2px solid #af4448;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .title {
      font-size: 14px;
    }
    .value {
      font-size: 14px;
    }
  }
}
