@import "../../index.scss";

.headerWrapper {
  background-color: $seconday-colour;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 0px 16px;
  .searchWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 50%;
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      background-color: $primary-colour;
    }
  }
  .logowrap {
    display: flex;
    gap: 16px;
    align-items: center;
    .optionsWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      .options {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: $seconday-colour-lite;
        border-radius: 50%;
      }
    }

    .companyLogo {
      width: 150px;
      height: 38px;
    }
  }
}
